body {
	text-align: center;
	color: white;
	background-color: black;
	width: 98%;
	font-family: Arial, Helvetica, sans-serif;
	overflow-y: hidden;
}

#log {
	margin: 15px;
	border: rgb(130, 255, 105);
	padding: 1rem;
	border-radius: 28px;
}

#pas {
	margin: 15px;
	border: rgb(130, 255, 105);
	padding: 1rem;
	border-radius: 28px;
}

#pwr {
	margin: 15px;
	border: rgb(130, 255, 105);
	padding: 1rem;
	border-radius: 28px;
}

#otp {
	margin: 15px;
	border: rgb(130, 255, 105);
	padding: 1rem;
	border-radius: 28px;
}

#mes {
	margin: 15px;
	border: rgb(130, 255, 105);
	padding: 1rem;
	width: 400px;
	height: 250px;
	display: visible;
	box-sizing: content-box;
	padding-right: 17px;
	text-align: center;
	border-radius: 28px;
}

#mes::-webkit-scrollbar {
	display: none;
}

footer {
	background-color: black;
	color: #fff;
	padding: 5px;
	bottom: 0;
	width: 98%;
}

#fbi {
	display: none;
	position: relative;
	left: 670px;
}

#first {
	display: visable;
	position: relative;
}

#second {
	display: none;
	position: relative;
}

#timer {
	font-size: 60px;
}

/* https://www.bestcssbuttongenerator.com */

#but {
	background-color: #ffffff;
	border-radius: 28px;
	border: 1px solid #000000;
	display: inline-block;
	cursor: pointer;
	color: #000000;
	font-family: Arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #000000;
}
#but:hover {
	background-color: black;
	border: 1px solid white;
	color: white;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}
