* {
	scroll-behavior: smooth;
}

body {
	background-color: rgb(10, 10, 10);
	font-family: Arial, Helvetica, sans-serif !important;
}

.dropdown:hover .dropdown-menu {
	display: block;
	left: -20px;
}

.flogo {
	width: 30px;
	height: 30px;
}
