* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	background-color: black;
	animation: fadeInAnimation ease-in 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#but {
	background-color: rgb(0, 0, 0);
	border-radius: 30px;
	border: 1px solid white;
	display: inline-block;
	cursor: pointer;
	color: rgb(255, 255, 255);
	font-family: Arial;
	font-size: 17px;
	padding: 16px 31px;
	text-decoration: none;
	transition: 0.2s ease-in;
	position: absolute;
	bottom: 30px;
	right: 355px;
}
#but:hover {
	background: rgb(255, 255, 255);
	border: 1px solid white;
	color: rgb(0, 0, 0);
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

.centered {
	position: relative;
	top: 1000px;
	text-align: center;
	color: white;

	margin: 100px auto;
	height: 500px;
	width: 850px;
	border-radius: 25px;
}

.images {
	position: absolute;
	top: 140px;
	left: 290px;
}

#img {
	margin-left: 20px;
}

#h11 {
	font-size: 80px;
}

#particles-js {
	position: relative;
	top: -700px;
	width: 100%;
	height: 100%;
	background-color: black;
}

@media screen and (max-width: 1919px) {
	body {
		overflow-y: scroll;
		background-color: black;
	}
}
