body {
	background-color: black;
	overflow: hidden;
	display: grid;

	/* load animation */
	animation: fadeInAnimation ease-in 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

h1 {
	font-size: 9.5vh;
}

h2 {
	font-size: 5vh;
}

a {
	text-decoration: none;
}

img {
	width: 10vh;
}

canvas {
	display: block;
	top: 0;
	position: absolute;
}

/* classes */
.grid {
	position: relative;
	top: 20vh;
	margin: 0 auto;
	text-align: center;
	width: 1000px;
	z-index: 1;
}

.type {
	position: absolute;
	height: 1vh;
	width: 1000px;
	margin: 0 auto;
	top: 8vh;
}

.images {
	position: absolute;
	top: 19vh;
	width: 1000px;
	margin: 0 auto;
}

.button2 {
	background-color: black;
	color: white;
	border-color: white;
}

.button2:hover {
	background-color: white;
	color: black;
	border-color: white;
}

.buttons {
	position: absolute;
	top: 50vh;
	width: 1000px;
	margin: 0 auto;
}

/* ids */

#button0 {
	font-size: 3vh;
	border-radius: 5vh;
}
