@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

@layer components {
	.button {
		@apply flex items-center justify-center rounded-full border-2 border-white bg-white px-4 py-2 text-xl font-medium text-black duration-200 ease-in hover:bg-transparent hover:text-white focus:outline-none;
	}

	.buttont {
		@apply flex items-center justify-center rounded-full border-2 border-white bg-transparent px-4 py-2 text-xl font-medium text-white duration-200 ease-in hover:bg-white hover:text-black focus:outline-none;
	}
}

.bg {
	opacity: 0.8;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	background-size: 300% 300%;
	background-image: linear-gradient(-50deg, #133d50 10%, #317775 20%, #317963 30%, #5e8540 40%, #c98303 50%, #bb6b03 60%, #c54c01 70%, #dc2f02 80%, #720000 90%, #6e0407 100%);
	animation: AnimateBG 8s ease infinite;
}

.page {
	opacity: 0.8;
	display: flex;
	justify-content: center;
	background-size: 300% 300%;
	background-image: linear-gradient(-50deg, #133d50 10%, #317775 20%, #317963 30%, #5e8540 40%, #c98303 50%, #bb6b03 60%, #c54c01 70%, #dc2f02 80%, #720000 90%, #6e0407 100%);
	animation: AnimateBG 8s ease infinite;
}

@keyframes AnimateBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes Hover {
	0%,
	100% {
		bottom: 0;
	}
	50% {
		bottom: 10px;
	}
}

.hover {
	position: relative;
	animation: Hover 1s linear infinite;
}

.dropdown:hover .dropdown-menu {
	display: block;
	left: -50px;
}

#activeLink {
	animation: colorChange 10s infinite alternate;
}

.rainbow {
	animation: colorChange 10s infinite alternate;
}

@keyframes colorChange {
	0% {
		color: #277da1;
	}

	20% {
		color: #43aa8b;
	}

	40% {
		color: #faa307;
	}

	60% {
		color: #f48c06;
	}

	80% {
		color: #dc2f02;
	}

	100% {
		color: #9d0208;
	}
}

:root {
	color-scheme: dark;
}

* {
	scroll-behavior: smooth;
	outline: none !important;
}

.animation {
	animation: fadeEffect 0.25s ease-in;
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.glass {
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	border-radius: 10px;
}

.bg0 {
	background: #b92b27; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1565c0, #b92b27); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1565c0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg1 {
	background: #67b26f; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4ca2cd, #67b26f); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4ca2cd, #67b26f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg3 {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(31, 0, 57, 1) 100%);
}

.h1 {
	font-size: 48px !important;
	font-weight: bold;
	margin: 2rem;
}

.h2 {
	font-size: 32px !important;
	font-weight: bold;
	margin: 2rem;
}

.h3 {
	font-size: 24px;
	margin: 2rem;
}

.link {
	text-decoration: underline !important;
}

header {
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(20px) saturate(180%);
}

.orange {
	color: #faa307;
}

/*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15
  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/

.hljs {
	color: #c9d1d9;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
	/* prettylights-syntax-keyword */
	color: #ff7b72;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
	/* prettylights-syntax-entity */
	color: #d2a8ff;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
	/* prettylights-syntax-constant */
	color: #79c0ff;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
	/* prettylights-syntax-string */
	color: #a5d6ff;
}

.hljs-built_in,
.hljs-symbol {
	/* prettylights-syntax-variable */
	color: #ffa657;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
	/* prettylights-syntax-comment */
	color: #8b949e;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
	/* prettylights-syntax-entity-tag */
	color: #7ee787;
}

.hljs-subst {
	/* prettylights-syntax-storage-modifier-import */
	color: #c9d1d9;
}

.hljs-section {
	/* prettylights-syntax-markup-heading */
	color: #1f6feb;
	font-weight: bold;
}

.hljs-bullet {
	/* prettylights-syntax-markup-list */
	color: #f2cc60;
}

.hljs-emphasis {
	/* prettylights-syntax-markup-italic */
	color: #c9d1d9;
	font-style: italic;
}

.hljs-strong {
	/* prettylights-syntax-markup-bold */
	color: #c9d1d9;
	font-weight: bold;
}

.hljs-addition {
	/* prettylights-syntax-markup-inserted */
	color: #aff5b4;
	background-color: #033a16;
}

.hljs-deletion {
	/* prettylights-syntax-markup-deleted */
	color: #ffdcd7;
	background-color: #67060c;
}

