@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.button {
		@apply btn flex items-center justify-center rounded-full border-2 border-white bg-white px-4 py-2 text-xl font-medium normal-case text-black outline-none duration-200 ease-in hover:border-white hover:bg-transparent hover:text-white;
	}

	.buttont {
		@apply btn flex items-center justify-center rounded-full border-2 border-white bg-transparent px-4 py-2 text-xl font-medium normal-case text-white outline-none duration-200 ease-in hover:border-white hover:bg-white hover:text-black;
	}
}

:root {
	color-scheme: dark;
}

body {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	outline: none !important;
}

img {
	width: 100%;
	height: auto;
}

.glass {
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	border-radius: 10px;
}

.h1 {
	font-size: 48px !important;
	font-weight: bold;
	margin: 2rem;
}

.h2 {
	font-size: 32px !important;
	font-weight: bold;
	margin: 2rem;
}

.h3 {
	font-size: 24px;
	margin: 2rem;
}

.link {
	text-decoration: underline !important;
}

pre {
	white-space: normal !important;
	background-color: rgb(20, 20, 20) !important;
}

code {
	background-color: rgb(20, 20, 20) !important;
	padding: 0.3rem;
	border-radius: 10px;
}

code::before,
code::after {
	content: "" !important;
}
